body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #47ab37;
    display: table-row;
    justify-content: center;
    flex-direction: column;
    grid-column: 1;
    grid-row: 3;
    grid-area: 4px;
    grid-auto-rows: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.logo-text {
    font-size: calc(2.5vw + 3vh + 0.5vmin);
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    width: 40vw;
    height: auto;
}

.content {
    padding: 20px;
}

h2 {
    color: #333;
}

.opening-times {
    align-self: center;
    border-collapse: collapse;
    margin: 20px 0;
    width: 100vw;
}

.opening-times td {
    border: 1px solid #ddd;
    padding: 8px;
}

.opening-times tr:nth-child(even) {
    background-color: #47ab37;
}

.word-box {
    border: 5px solid;
    position: relative;
    align-self: center;
    font-family: 'Exo 2', sans-serif;
    line-height: 1;
    text-transform: uppercase;
    font-size: calc(5vw + 5vh + 2.5vmin);
    font-weight: 700;
    color: #f5f5f5;
    padding: 32px 32px 32px 32px;
    animation: sway 5s linear infinite;
    text-shadow: 1px 1px 1px var(--red),
        1px 2px 1px var(--red),
        1px 3px 1px var(--red),
        1px 4px 1px var(--red),
        1px 5px 1px var(--red),
        1px 6px 1px var(--red),
        1px 7px 1px var(--red),
        1px 8px 1px var(--red),
        1px 9px 1px var(--red),
        1px 10px 1px var(--red),
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
    transform-origin: 50% -32px;
    display: flex;
    grid-row: 3;
    grid-area: 3px;
}

@keyframes sway {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(-5deg);
    }

    /* Swing to the left side */
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}