 @import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
 :root {
--red:#33a540;
  /*--red: #ff0000;*/
  --green:#47ab37;
  --white: #ffffff;
  --cellsize: 40px;
  --black:#030300;
  --abstand:10px;
}
 .u-section-1 {
  background-image: linear-gradient(#fbeced,var(--red));
  height: 100vh;
  width: 100vw;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 421px;
  height: 219px;
  margin: 85px 60px 10px auto;
  margin-top:80px;
}
.u-section-1 .u-image-2 {
   width: 421px;
  height: 319px;
  /*margin: 85px 60px 10px auto;
  margin-top:80px;*/
  top:150px;
  margin-left:auto;
  margin-right:auto;
}
.u-section-1 .u-text-6 {

  margin-left:auto;
  margin-right:auto;
  font-size: 80px;
  font-weight: 700;
  top:150px;
  
}

.u-section-1 .u-text-1 {

  margin-left:30px;
  margin-top:30px;
  margin: -153px 20px 0 100px;

  
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 9px auto 0 100px;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  margin: 455px auto 0 188px;
  margin-left: 30px;
  margin-bottom: 10px;
  color:black;
}
.u-section-1 .u-text-10 {
  font-size: 2.8rem;
  margin: 50px auto 0 188px;
  margin-left: 30px;
  margin-bottom: 10px;
  color:rgb(185, 43, 43);
}
.u-section-1 .u-text-5 {
  font-weight: 100;
  font-size: 40px;
  margin: 200px auto 0 188px;
  margin-left: 30px;
  margin-bottom: 0px;
  color:black;
  vertical-align:bottom;
  top:var(--abstand);
}

.u-section-1 .u-table-1 {
  width: 80vw;
  margin: 10px 10px 10px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 500;
  background-image: none;
  font-size: 2.95rem;

}

.u-section-1 .u-table-cell-1 {
	background-image: none;
    font-weight: 700;
    font-size: var(--cellsize);
	line-height: 1.00;

}
.u-section-1 .u-table-cell-3 {
	background-image: none;
    font-weight: 700;
    font-size: var(--cellsize);

}

.u-section-1 .u-table-cell-6 {
  font-weight: 400;
  line-height: 1.01;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 400;
  line-height: 1.01;
}
.u.section-1 .u-table-cell-1{
	font-size: 3.75rem;
	font-size: var(--cellsize);
}
.u.section-1 .u-table-cell{
	font-size: 3.75rem;
	font-size: var(--cellsize);
}

.u-section-1 .u-table-cell-16 {
  font-weight: 400;
  line-height: 1.01;
}

.u-block-2ef2-33 {
  background-image: none;
}
.u-section-1 .u-table-body{
	font-size: var(--cellsize);
	  font-weight: 700;
	  
	 
}
.u-section-1 .u-text-4 {
  transition-duration: 3s;
  font-size: 9.375rem;
  line-height: 1.72;
  background-image: none;
  margin-bottom:10px;
  position: relative;
  border: 5px solid var(--black);
}

@media (max-width: 100vw) {
  .u-section-1 .u-group-1 {
    background-position: 50% 50%;
    height: auto;
	
  }
 
  .u-section-1 .u-table-1 {
    height: 227px;
	margin-left: auto;
    margin-right: auto;
	
  }
}

@media (max-width: 100vw) {
  .u-section-1 .u-table-1 {
    width: 991px;
	top:var(--abstand);
  }
}

@media (max-width: 100vw) {
  .u-section-1 .u-table-1 {
    width: 97vw;
	
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
    margin-left: auto;
	/*margin-bottom: 100px;*/
  }
}

@media (max-width: 100vw) {
	
  .u-section-1 .u-text-1 {
	  
    
	margin-left:30px;

  }

 

  .u-section-1 .u-text-3 {
	    font-size: 4rem;
		vertical-align: top;
		margin-left:30px;
		margin-bottom:30px;
	    color:var(--black);

		top:var(--abstand);
		



  .u-section-1 .u-table-1 {
     width: 100vw;
	

  }
  .u-section-1 .u-table-1 .u.text-3{
	 margin: 900px 70px 0;  
  
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
    margin-left: auto;
    font-size: 1.875rem;

  }
}


	

.u-section-1 .u-text-4,
.u-section-1 .u-text-4 {
	margin-left: auto;
    margin-right: auto;
}
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

/*
.u-section-1 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(2) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
  transform: rotate(0deg) scale(2) translateX(0px) translateY(0px) !important;
}*/


@media (max-width: 1080px){
}

@b: #FFE0B5;
@c: #CA2E55;

@bg1: #301916;
@bg2: #462521;
@bg3: #8A6552;


html, body {
    min-height: 100%;
}


body {

    text-align: center;
}
  .u-section-1 .u-text-3 {
  
	color:var(--black);
  }

@keyframes sway {
    0% {
        transform: rotate(0);
        animation-timing-function: ease-in-out;
    }
    10% {
        transform: rotate(-12deg);
        animation-timing-function: ease-in-out;
    }
    30% {
        transform: rotate(8deg);
        animation-timing-function: ease-in-out;
    }
    45% {
        transform: rotate(-4deg);
        animation-timing-function: ease-in-out;
    }
    60% {
        transform: rotate(2deg);
        animation-timing-function: ease-in-out;
    }
    70% {
        transform: rotate(-.1deg);
        animation-timing-function: ease-in-out;
    }
    75% {
        transform: rotate(.05deg);
        animation-timing-function: ease-in-out;
    }
    80% {
        transform: rotate(0);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: rotate(0);
    }
}


.u-section-1 .u-text-4 {
    position: relative;

	top:400px;
    font-family: 'Exo 2', sans-serif;
    line-height: 1;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 165px;
    font-weight: 700;
    color: #f5f5f5;
    padding: 32px 32px 32px 32px;
	flex: 1;
   /*argin: 300px 70px 0;*/
	justify-content=center;
	
	margin-left:auto;
	margin-right:auto;
    animation: sway 5s linear infinite;
	text-shadow: 1px 1px 1px var(--red),
        1px 2px 1px var(--red),
        1px 3px 1px var(--red),
        1px 4px 1px var(--red),
        1px 5px 1px var(--red),
        1px 6px 1px var(--red),
        1px 7px 1px var(--red),
        1px 8px 1px var(--red),
        1px 9px 1px var(--red),
        1px 10px 1px var(--red),
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    transform-origin: 50% -32px;
    background: linear-gradient(to right, @c 0%, @c 100%),
                linear-gradient(to right, @c 0%, @c 100%),
                linear-gradient(to right, @c 0%, @c 100%),
                linear-gradient(to right, @c 0%, @c 100%),
        
                radial-gradient(circle at 100% 100%, @c 0%, @c 44%, #fff 46%, #fff 55%, @c 57%, @c 70%, transparent 72%, transparent 100%),
                radial-gradient(circle at 0 100%,    @c 0%, @c 44%, #fff 46%, #fff 55%, @c 57%, @c 70%, transparent 72%, transparent 100%),
                radial-gradient(circle at 0 0,       @c 0%, @c 44%, #fff 46%, #fff 55%, @c 57%, @c 70%, transparent 72%, transparent 100%),
                radial-gradient(circle at 100% 0,    @c 0%, @c 44%, #fff 46%, #fff 55%, @c 57%, @c 70%, transparent 72%, transparent 100%),

                linear-gradient(to top,    @c 0%, @c 63%, #fff 65%, #fff 78%, @c 80%, @c 100%),
                linear-gradient(to bottom, @c 0%, @c 63%, #fff 65%, #fff 78%, @c 80%, @c 100%),

                linear-gradient(to left,   @c 0%, @c 63%, #fff 65%, #fff 78%, @c 80%, @c 100%),
                linear-gradient(to left,   @c 0%, @c 63%, #fff 65%, #fff 78%, @c 80%, @c 100%),
                linear-gradient(to right,  @c 0%, @c 63%, #fff 65%, #fff 78%, @c 80%, @c 100%),
                linear-gradient(to right,  @c 0%, @c 63%, #fff 65%, #fff 78%, @c 80%, @c 100%),

                radial-gradient(circle at 0 50%,    transparent 0%, transparent 30%, @c 32%, @c 42%, #fff 44%, #fff 48%, @c 50%, @c 100%),
                radial-gradient(circle at 100% 50%, transparent 0%, transparent 30%, @c 32%, @c 42%, #fff 44%, #fff 48%, @c 50%, @c 100%),

                linear-gradient(to right, @c 0%, @c 100%);
    
    background-size: 3px 3px,
        3px 3px,
        3px 3px,
        3px 3px,
        
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px,
        
        ~'calc(100% - 32px + 4px)' 16px,
        ~'calc(100% - 32px + 4px)' 16px,
        
        16px ~'calc(50% - 32px)',
        16px ~'calc(50% - 32px)',
        16px ~'calc(50% - 32px)',
        16px ~'calc(50% - 32px)',
        
        32px 32px,
        32px 32px,
        
        ~'calc(100% - 32px + 4px)' ~'calc(100% - 32px)';
    
    background-position: 0 ~'calc(50% - 16px)',
        100% ~'calc(50% - 16px)',
        0 ~'calc(50% + 16px)',
        100% ~'calc(50% + 16px)',
        
        0 0,
        100% 0,
        100% 100%,
        0 100%,
        
        ~'calc(16px - 1px)' 0,
        ~'calc(16px - 1px)' 100%,
        
        0 16px,
        0 ~'calc(100% - 16px)',
        100% 16px,
        100% ~'calc(100% - 16px)',
        
        0 50%,
        100% 50%,
        
        ~'calc(16px - 1px)' 16px;
    
    background-repeat: no-repeat;
    
    &::before {
        content: '';
        height: 2px;
        width: 51%;
        position: absolute;
        top: -16px;
        left: 0;
        z-index: -1;
        transform: rotate(-5deg);
        background: linear-gradient(to right, transparent 0%, transparent 13%, @c 15%, #fff 17%, #fff 100%);
    }
    
    &::after {
        content: '';
        height: 2px;
        width: 51%;
        position: absolute;
        top: -16px;
        right: 0;
        z-index: -1;
        transform: rotate(5deg);
        background: linear-gradient(to left, transparent 0%, transparent 13%, @c 15%, #fff 17%, #fff 100%);
    }
}
.u.section-1 .u-table-cell{
	font-size: 3.75rem;
	font-size: var(--cellsize);
}